{% extends 'baseHome.html' %}
{% load static %}
{% block content %}
    <!-- Sign in form -->
    <form id="signInForm">

        <!-- Content inside the form -->
        <div id="signInFormContent">
        
        <h1 id="signInHeader">Sign in</h1>

        <!-- Text entry for username -->
        <input type="text" class="textEntry" id="username" name="username" placeholder="Username" autocomplete="off" required><br>

        <!-- Text entry for password -->
        <input type="password" class="textEntry" id="password" name="password" placeholder="Password" autocomplete="off" required><br>

        <!-- Check box for toggling password visibility -->
        <label id="checkboxDiv">
            <input type="checkbox" id="passwordCheckbox" onclick="togglePasswordVisibility()">
            <span class="checkmark"></span>
        </label>
        
        <!-- Label next to checkbox that describes its purpose -->
        <label for="passwordCheckbox">Show Password</label><br>

        <!-- Submit button which calls checkCredentials() function when clicked -->
        <input type="button" id="signInButton" value="Sign In" onclick="checkCredentials(event)">

        <!-- Link to "Forgot Password" page -->
        <a class="formLink" id="forgotPassword" href="https://www.google.com">Forgot Password?</a>

        <!-- Link to "Sign Up" page -->
        <a class="formLink" id="signUp" href="signup/1">New? Sign up for free!</a>

        </div>

    </form>

    <!-- Div that displays username and password when submit button is clicked (FOR TESTING PURPOSES ONLY) -->
    <div id="testingDiv"></div>

{% endblock %}
