{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Page Title -->
    <title>{% block title %}Big-O Project{% endblock %}</title>
    <!-- Reference a CSS Page -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  -->
    <link href="{% static '/css/bootstrap.min.css'%}" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/sidebar.css'%}">{% block css %} 
    {% endblock %}
    <!-- Reference a JS Page -->
    {% block javascript %} 
    {% endblock %}
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <script src="{% static '/js/jquery-3.7.1.js'%}"></script>
    <script defer src="{% static '/js/bootstrap.bundle.min.js'%}"></script>
    
    <script src="{% static '/js/base.js'%}"></script>
    <!-- Define the character set used -->
    <meta charset="UTF-8">
    <!-- Define keywords for search engines -->
    <meta name="keywords" content="---ADD KEYWORDS---">
    <!-- Define a description of your web page -->
    <meta name="description" content="---ADD DESCRIPTION---">
    <!-- Define the author of a page -->
    <meta name="author" content="---ADD AUTHORS---">
    
  </head>

  <body>
    <!-- main container div -->
    <div class="container border">

      <div class="row p-1 border-bottom" id="header">
        <div class="col-2" id="brand">
          <a href="/"><img id="logo" src="/static/images/logo.svg" alt=""></a>
        </div>
        <div class="col-8 text-center" id="Title">         
          <!-- <h1 id="bigoTitle">Big <label id="O">O</label> Complexity</h1> -->
          <h1 id="bigoTitle">Big <label id="O"><a href="/test_code" style="text-decoration: none;">O</a></label> Complexity Algorithm</h1>

        </div>
        <div class="col-2" id="brand">
            <!-- Only show this username and logout option in the header if the user is logged in -->
          {% if user.is_authenticated %}
            <span class="hello-msg">Hello, {{request.user}}<a href="{% url 'logout' %}">Logout</a></span>
          {% endif %}
        </div>
      </div> <!-- end of header div -->
      
      <!-- body div -->
      <div class="row justify-content-center" id="body" >
          {% block sidebar %}  {% include 'teacher_sidebar.html' %} {% endblock %}
        <div class="col-md-10 " id="content">  

          <div class="row p-1 border-bottom" id="navigationRow">
            <nav class="navbar navbar-expand-lg navigationPath">
              <a class="navbar-brand" href="#">Path</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navPath"
                  aria-controls="navPath" aria-expanded="false" aria-label="Toggle path navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navPath">
                  <div class="navbar-nav">                         
                      {% block path %} <a class="nav-item nav-link path activePath" href="">Home</a> {% endblock %}
                  </div>
              </div>
            </nav>
          </div>
        
          <div class="row p-1 justify-content-center" id="pageContent">
                {% block content %} Page Content{% endblock %}
          </div>
        </div> 


      </div><!-- end of body div -->

    </div> <!-- end of main container div -->
    
    {% block testblock %} 
    
    {% endblock %}
  </body>
</html>

