{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <!-- 
        <link rel="stylesheet" type="text/css" href="{% static '/css/teacher.css'%}">
    --> 
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/teacher.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}  
            <a class="nav-item nav-link path" href="/">Home</a>
            <a class="nav-item nav-link path activePath" href="/test_code">Test</a>
{% endblock %}



{% block content %}    
<h1>  TEST CODE  </h1>

{% endblock %}
