{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <!-- 
        <link rel="stylesheet" type="text/css" href="{% static '/css/teacher.css'%}">
    --> 
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/teacher.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}  
            <a class="nav-item nav-link path activePath" href="/teacher">Home</a>
{% endblock %}





{% block content %}    


<h1>  __TEMPLATE__  </h1>

<div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>

{% endblock %}
