/* Color Palette:
        * Black: #1E1F22
        * Dark Grey: #2A2D31
        * Lighter Grey: #303338
        * Text Entry Grey: #3d4147
        * Text Placeholder Grey: #686b6d
        * Light blue: #37c6ff
        * Dark Blue #1b33b6
*/

#AboutProject {
    margin-top: 100px;
    margin-bottom: 75px;
    background-color: #303338;
}

#AboutTeam {
    background-color: #1E1F22;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.AboutHeaders {
    color: white;
    margin-left: 25px;
    margin-top: 20px;
}

.AboutText {
    color: white;
    font: 'Segoe UI';
    margin-left: 25px;
    margin-right: 25px;
}

#ProjectLogo {
    max-width: 25%;
    max-height: 25%;
    float: left;
}

#TeamMembers {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.Member {
    color: white;
}

#Container {
    display: flex;
    align-items: center;
    justify-content: center;
}
