{% extends 'baseSignup2.html' %}
{% load static %}
{% block content %}
    <!-- Create a Class form -->
    <form id="createAccountForm" method="post">

        <!-- Content inside the form -->
        <div id="createAccountFormContent">
        
            <h1 id="createAccountHeader">Create an Account</h1>
            <h2 id="enterEmail">Enter your Email Address</h2>

            <!-- Text entry for class name -->
            <input type="text" class="textEntry" id="email" name="email" placeholder="Email" autocomplete="off"><br>

            <h2 id="chooseRole">Are you a Teacher or a Student?</h2>

            <!-- Dropdown menu for role selection -->
            <select name="roles" id="dropDownRoles" class="textEntry">
                <option value="Student">Student</option>
                <option value="Teacher">Teacher</option>
            </select>

            <!-- Next button to take the user to the next page -->
            <button id="submitButton" onclick="submitAccount(event)">Create Account</button>

        </div>

    </form>

{% endblock %}
