{% extends 'baseSignup.html' %}
{% load static %}
{% block content %}
    <!-- Create a Class form -->
        <form id="createAccountForm" method="post">

            <!-- Content inside the form -->
            <div id="createAccountFormContent">
            
                <h1 id="createAccountHeader">Create an Account</h1>
                <h2 id="enterName">Enter your Name</h2>

                <!-- Div containing the text entries where the user enters their name -->
                <div id="nameEntries">

                    <!-- Text entry for class name -->
                    <input type="text" class="textEntry" id="firstName" name="firstName" placeholder="First" autocomplete="off"><br>
                    <input type="text" class="textEntry" id="middleName" name="middleName" placeholder="Middle (Optional)" autocomplete="off"><br>
                    <input type="text" class="textEntry" id="lastName" name="lastName" placeholder="Last" autocomplete="off"><br>

                </div>

                <!-- Next button to take the user to the next page -->
                <button id="nextButton" onclick="nextPage(event)">Next</button>

            </div>

        </form>

{% endblock %}
