{% extends 'base.html' %}
{% load static %}


{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css'%}">    
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/login.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <!-- Sign in form -->
    <form id="signInForm" method="POST" action="">
        {% csrf_token %}

        <!-- Content inside the form -->
        <div id="signInFormContent">
        
            <h1 id="signInHeader">Sign in</h1>

            <!-- Text entry for username -->
            <input type="text" class="textEntry" id="username" name="username" placeholder="Username" autocomplete="off" required><br>

            <!-- Text entry for password -->
            <input type="password" class="textEntry" id="password" name="password" placeholder="Password" autocomplete="off" required><br>

            <!-- Check box for toggling password visibility -->
            <label id="checkboxDiv">
                <input type="checkbox" id="passwordCheckbox" onclick="togglePasswordVisibility()">
                <span class="checkmark"></span>
            </label>
            
            <!-- Label next to checkbox that describes its purpose -->
            <label for="passwordCheckbox">Show Password</label><br>

            <!-- Submit button which calls checkCredentials() function when clicked -->
            <!-- <input type="submit" id="signInButton" value="Sign In" onclick="checkCredentials(event)"> -->
            <input class="btn login_btn" id="signInButton" type="submit" value="Login">
            
            <!-- Link to "Forgot Password" page -->
            <a class="formLink" id="forgotPassword" href="https://www.google.com">Forgot Password?</a>

            <!-- Link to "Sign Up" page -->
            <a class="formLink" id="signUp" href="register/">New? Sign up for free!</a>

            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {% endfor %}

        </div>

    </form>

{% endblock %}

