{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/register.css'%}"> 
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/register.js'%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

	<!-- Create a Class form -->
	<form id="createAccountForm" method="POST" action="">
		{% csrf_token %}

		<h1 id="createAccountHeader">Create an Account</h1>

		<!-- Content inside the form -->
		<div id="createAccountFormContent">

			<h2 id="enterName">Enter your Account Info</h2>

			<!-- Div containing the text entries -->
			<div id="nameEntries">

				{{form.first_name}}
				{{form.middle_name}}
				{{form.last_name}}
				{{form.display_name}}
				{{form.username}}
				{{form.email}}
				{{form.password1}}
				{{form.password2}}

			</div>

			<!-- Next button to take the user to the next page -->
            <!-- <button id="submitButton" onclick="submitAccount(event)">Create Account</button> -->
			<input class="btn login_btn" id="submitButton" type="submit" value="Register Account">

			<!-- Link to "Log In" page -->
            <a class="formLink" id="login" href="/login">Have an account? Login here</a>

			{% if form.errors %}
					{% for field in form %}
						{% if field.errors %}
							<p class="errors">
								{% for error in field.errors %}
									{{ error }}
								{% endfor %}
							</p>
						{% endif %}
					{% endfor %}
			{% endif %}

		</div>

	</form>

	<script>
		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='First Name';
		form_fields[2].placeholder='Middle Name (Optional)';
		form_fields[3].placeholder='Last Name';
		form_fields[4].placeholder='Display Name (Optional)';
		form_fields[5].placeholder='Username';
		form_fields[6].placeholder='Email';
		form_fields[7].placeholder='Password';
		form_fields[8].placeholder='Re-enter Password';


		for (var field in form_fields) {	
			form_fields[field].className += ' form-control';
			form_fields[field].className += ' textEntry';
		}
	</script>
{% endblock %}
