/* CSS for page color */
#header {
    background-color: none;
}
#body {    
    background-color: none;
}

/* header style */
#logo {
    width: 70px;
    margin-top: 0;
}

#bigoTitle {
    color:rgb(0, 0, 0);
}
#O {
    color: #37c6ff;
}

.hello-msg{
    color: rgb(0, 0, 0);
}

/* Custom CSS for path navigation */
.nav-link.activePath {
    background-color: #007bff; 
    color: #fff; 
}
.nav-link.activePath:hover {
    background-color: #ff7300; 
    color: #fff; 
}
.path {    
    border-radius: 2%;
    margin-right: 0px;
}
.path:hover {    
    background-color:black;
    color:white;
}
.navigationPath {
    margin:0;
    padding:0;
}

/* Custom CSS to style the hover on cards */
.classCard:hover {
    transform: translateY(-5px); /* Move card 5 pixels up on hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    transition: all 0.30s ease; /* Add smooth transition */
}

/* Style for login and registration form */
#signInButton {
    border: none;
    background-color: #37c6ff;
    color: #1b33b6;
    font-family: inherit;
    font-weight: 600;
}

#signInButton:hover {
    cursor: pointer;
    background-color: #1b33b6;
    color: #37c6ff;
}

.formLink {
    text-decoration: none;
    color: #37c6ff;
    font-weight: 600;
}

.formLink:hover {
    color: #1b33b6;
}

form {
    background-color:#f3f5f6;
}
div#body{
    /* background-color:#ff7300; */
}