{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/algorithm.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/teacher_sidebar.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/algorithm.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block content %}
    <!-- Div for sidebar of page -->
    <div id="sidebar">

    </div>

    <!-- Div for main content of page -->
    <div id="mainContent">
        <!-- Div for main heading -->
        <div id="mainHeadingDiv">
            <!-- Main heading -->
            <h1 class="myH1" id="mainHeading">Algorithm</h1>
        </div>
    </div>

{% endblock %}



{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

{% endblock %}