{% extends 'base.html' %}
{% load static %}

{% block css %}   
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/class.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}


{% block path %}
            <a class="nav-item nav-link path" href="/teacher">Home</a>
            <a class="nav-item nav-link path activePath" href="/teacher/class/{{teacher_class.id}}" >{{ teacher_class.class_name }}</a>
{% endblock %}

{% block content %}
<div class="container">

<div class="d-flex bd-highlight mb-0">

    <div class="p-2 bd-highlight">
        <h3>{{teacher_display_name}} Classes</h3>
    </div>


    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

</div>




    <div class="row mt-2">
        <div class="col border bg-light">

            <div class="row">   
                <table class="table">
                    <tr>
                        <th>Class Name</th>
                        <th>Language</th>
                        <th>Term</th>
                        <th>Class Code</th>
                    </tr>
                    <tr>
                        <td>{{teacher_class.class_name}}</td>     
                        <td>{{ teacher_class.language  }}</td>
                        <td>{{ teacher_class.term  }}</td>
                        <td>{{ teacher_class.class_code  }}</td>               
                    </tr>
                </table>
            </div>

            <div class="row justify-content-center mb-2">             
                <a class="btn btn-primary col-3" href="{% url 'updateClass' teacher_class.id %}">Edit</a>
                <a class="btn btn-danger col-3" style="margin-left:10px;" href="{% url 'deleteClass' teacher_class.id %}">Delete </a>
            </div>   
        </div>

        <div class="col border bg-light">          

            <table class="table">
                <tr>
                    <th>Module</th>
                    <th>View</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>

                {% for module in modules %}
                <tr>
                    <td>{{ module.name  }}</td>    
                    <td><a class="moduleButton" href="{% url 'manageModule' teacher_class.id module.id %}">View</a></td> 
                    <td><a class="moduleButton" href="{% url 'updateModule' teacher_class.id module.id %}">Update</a></td>     
                    <td><a class="moduleButton" href="{% url 'deleteModule' teacher_class.id module.id %}">Delete</a></td>       
                </tr>             
                {% endfor %}
            </table>

            <div class="row justify-content-center mb-2">  
                <a class="btn btn-primary col-4" href="{% url 'modules' class_pk %}">View modules</a>                      
            </div>   
        </div>
    </div>

    <div class="row mt-2">
        <div class="col border bg-light">
            <p>Students</p>
            <table class="table">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    {% for module in modules %}
                        <th>{{module.name}}</th>
                    {% endfor %}
                </tr>

                {% for student in students %}
                    <tr>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        {% for module in modules %}
                            <td>10/10</td>
                        {% endfor %}
                    </tr>
                {% endfor %}


            </table>
        </div>
    </div>

</div>
{% endblock %}