<!--
    Name of Class
    Name of Teacher
    Term

    {for}
        Modules
    {endfor}
-->

{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/class.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/teacher_sidebar.css'%}">
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/class.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block content %}
    <!-- Div for sidebar of page -->
    <div id="sidebar">

    </div>

    <!-- Div for main content of page -->
    <div id="mainContent">

        <div id="mainHeadingDiv">

            <!-- Main heading -->
            <h1 class="myH1" id="mainHeading">class_name</h1>

        </div>

        <!-- Div for modules -->
        <div id="modulesDiv">

            <div id="module">

                <h1>Module 1</h1>

            </div>

            <div id="module">

                <h1>Module 2</h1>

            </div>

            <div id="module">

                <h1>Module 3</h1>

            </div>

        </div>

    </div>
{% endblock %}
