{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <!-- <link rel="stylesheet" type="text/css" href="{% static '/css/module.css'%}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<style>
    #code-status {
        width: 40px;
    }


    input.form-control {
        margin: 0;
    }

    pre {
        margin:0;
        padding:0;
    }

    #algorithmTable2 {
        font-family: monospace;
        background-color:none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    th {
        background-color: #bde50b;
        border:1px solid black;
    }

    #algorithmTable td, tr, th {
        border:1px solid black;
    }
    input {
        border-radius: unset;
        padding:4px;
    }
    input:focus {
        background-color: yellow;
        border-radius: 0%;
    }
    td.tnumber {
        text-align: center;
    } 


</style>
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/module.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}   
            <a class="nav-item nav-link path" href="/teacher">Home</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}" >{{ teacher_class.class_name }}</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}/modules/">Modules</a>
            <a class="nav-item nav-link path activePath" href="/teacher/class/{{teacher_class.id}}/module/{{module.id}}/createAlgorithm">Create Algorithm</a>
{% endblock %}

{% block content %}
<!-- information header -->
<div class="d-flex bd-highlight mb-0">
    <div class="p-2 bd-highlight">
        <h3>Module Name: {{module.name}}</h3>
    </div>

    <div class="ms-auto p-2 bd-highlight">
        <a class="btn btn-secondary col-auto" href="{% url 'createPage' teacher_class.id module.id %}">
            Create Page
        </a>
    </div>
</div>
<div class="d-flex justify-content-center">
    <h5>Create Algorithm</h5>
</div>

<!--  file upload form for  algorithm and answer key -->
<div class="row mt-3">
    <form method="POST" action="" enctype="multipart/form-data" class="bg-transparent border border-light">
        {% csrf_token %}

        <div class="mb-3">
            <label for="formFileLg" class="form-label">Select algorithm file</label>
            <input class="form-control form-control-lg" type="file" id="algorithmUpload" name="algorithmUpload">
        </div>
        <div>
            <label for="formFileLg" class="form-label">Select Answer file</label>
            <input class="form-control form-control-lg" type="file" id="answerkeyUpload" name="answerkeyUpload">
        </div>

        <div class="text-center mt-4 mb-2">
            <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>
        </div>
    </form>
</div>

<!-- row for displaying the content of the uploaded algorithm/answer-->
<div class="row border-bottom p-2 mb-4">
    {% if algorithm_file_lines %}
    <div class="col">
        <h3>Algorithm: {{algorithm_line_count}} line(s)</h3>
        {% for line in algorithm_file_lines|remove_newlines %}
        <pre><code class="language-java">{{ line }}</code></pre>
        {% endfor %}
    </div>
    <div class="col">
        <h3>Answer Key: {{answerkey_line_count}} line(s)</h3>
        {% for line in answerkey_file_lines %}
            <pre><code>{{ line.decode }}</code></pre>
        {% endfor %} 
    </div>    
    {% endif %} 
</div>

<!-- first validation row row to display the algorithm, answer, hints side by side and submit -->
<div class="row">
    {% if algorithm_line_count != answerkey_line_count %}
    <p>Line Requirement: <span class="text-success"><img id="code-status" src="/static/images/Failure.png" alt=""></span></p>
    <p class="bg-dark text-danger ">
        NB:
        the algorithm content lines does not match the answer key content lines
        Please check the files and reupload.
    </p>
    
    <br>

    {% else %}
    <p>Line Requirement: <span class="text-success"><img id="code-status" src="/static/images/Success.png" class="img-thumbnail" alt=""></span></p>

    {% endif %}

</div>

<!-- submission form -->
{% if algorithm_file_lines and algorithm_line_count == answerkey_line_count %}
<form id="algorithmForm" action="" method="POST" class="mb-4 p-2">
    {% csrf_token %}
    <table id="algorithmTable" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <col style="width: 2%">
            <col style="width: auto;">
            <col style="width: auto;">
            <col style="width: auto;">


            <tr>
                <th id="tableNumber">No</th>
                <th id="tableCode">Code</th>
                <th id="tableAnswer">Answer</th>
                <th id="tableHint">Hint</th>
            </tr>

            {% for code, answer in algorithm_file_lines|zip:answerkey_file_lines %}

            {% if code|strip_length == 0 and answer.decode|strip_length == 0 %}
            <tr>
                <td class="tnumber">{{ forloop.counter }}</td>
                <td>
                    <pre><code>{{ code }}</pre></code>
                </td>
                </td>
                <td>
                    <pre><code>{{ answer.decode }}</pre></code>
                </td>
                </td>
                <td>
                    <input type="text" value="Hint" style="width:100%; height:100%;">
                </td>
            </tr>

            {% elif code|strip_length != 0 and answer.decode|strip_length != 0 %}
            <tr>
                <td class="tnumber">{{ forloop.counter }}</td>
                <td>
                    <pre><code>{{ code }}</pre></code>
                </td>
                </td>
                <td>
                    <pre><code>{{ answer.decode }}</pre></code>
                </td>
                </td>
                <td>
                    <input type="text" value="Hint" style="width:100%; height:100%;">
                </td>
            </tr>

            {% elif code|strip_length == 0 and answer.decode|strip_length != 0 %}
            <tr>
                <td class="tnumber">{{ forloop.counter }}</td>
                <td style="color:red">
                    Missing code
                </td>
                <td>
                    <pre><code>{{ answer.decode }}</pre></code>
                </td>
                </td>
                <td>
                    <input type="text" value="Hint" style="width:100%; height:100%;">
                </td>
            </tr>



            {% elif code|strip_length != 0 and answer.decode|strip_length == 0 %}
            <tr>
                <td class="tnumber">{{ forloop.counter }}</td>
                <td>
                    <pre><code>{{ code }}</pre></code>
                </td>
                </td>
                <td style="color:red">
                    Missing answer
                </td>
                <td>
                    <input type="text" value="Hint" style="width:100%; height:100%;">
                </td>
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>


    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary" id="submitAlgorithmBtn">Submit</button>
    </div>
</form>



<table id="algorithmTable2" border="0" cellspacing="0" cellpadding="0">
<tbody>
    <col style="width: 2%">
    <col style="width: auto;">
    <col style="width: auto;">
    <col style="width: auto;">
    

    <tr>
        <th id="tableNumber">No</th>
        <th id="tableCode">Code</th>
        <th id="tableAnswer">Answer</th>
        <th id="tableHint">Hint</th>
    </tr>

    {% for code, answer in algorithm_file_lines|zip:answerkey_file_lines %}

    {% if code|strip_length == 0 and answer.decode|strip_length == 0 %}
    <tr>
        <td class="tnumber">{{ forloop.counter }}</td>
        <td>
            <input type="text" value="{{code}}" style="width:100%; height:100%;">
        </td>
        <td>
            <input type="text" value="{{answer.decode}}" style="width:100%; height:100%;">
        </td>
        <td>
            <input type="text" value="Hint" style="width:100%; height:100%;">
        </td>
    </tr>
    
    {% elif code|strip_length != 0 and answer.decode|strip_length != 0 %}
    <tr>
        <td class="tnumber">{{ forloop.counter }}</td>
        <td>
            <input type="text" value="{{code}}" style="width:100%; height:100%;">
        </td>
        <td>
            <input type="text" value="{{answer.decode}}" style="width:100%; height:100%;">
        </td>
        <td>
            <input type="text" value="Hint" style="width:100%; height:100%;">
        </td>
    </tr>

    {% elif code|strip_length == 0 and answer.decode|strip_length != 0 %}
    <tr>
        <td class="tnumber">{{ forloop.counter }}</td>
        <td>
            <input type="text" value="Empty Code" style="width:100%; height:100%;">
        </td>
        <td>
            <input type="text" value="{{answer.decode}}" style="width:100%; height:100%;">
        </td>
        <td>
            <input type="text" value="Hint" style="width:100%; height:100%;">
        </td>
    </tr>



    {% elif code|strip_length != 0 and answer.decode|strip_length == 0 %}
    <tr>
        <td class="tnumber">{{ forloop.counter }}</td>
        <td>
            <input type="text" value="{{code}}" style="width:100%; height:100%;">
        </td>
        <td>
            <input type="text" value="Empty Answer" style="width:100%; height:100%;" class="has-error">
        </td>
        <td>
            <input type="text" value="Hint" style="width:100%; height:100%;">
        </td>
    </tr>
    {% endif %}
    {% endfor %}

</tbody>
</table>
{% endif %}


{% endblock %}



{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
        // Define the function to check if the element exists
        function checkElementExists() {
        var mismatchElement = document.getElementById('mismatch');
        return mismatchElement !== null;
    }

    // Add event listener for the form submit event
    document.getElementById('algorithmForm').addEventListener('submit', function(event) {
        // Check if the element with id 'mismatch' exists
        if (checkElementExists()) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Perform additional actions if needed
            alert('The algorithm and answer keys files have mismatch lines');
        }
        else {
            event.preventDefault(); // Prevent default form submission
        
            var table = document.getElementById('algorithmTable');
            var formData = [];
            
            // Loop through table rows
            for (var i = 1; i < table.rows.length; i++) { // Start from index 1 to skip header row
                var row = table.rows[i];
                var rowData = {};
                // rowData.name = row.cells[0].innerText;
                rowData.code = row.cells[1].innerText;
                rowData.answer = row.cells[2].innerText;
                rowData.hint = row.cells[3].innerText;
                formData.push(rowData);
            }
            
            // Create hidden input field to store JSON data
            var jsonDataInput = document.createElement('input');
            jsonDataInput.type = 'hidden';
            jsonDataInput.name = 'table_data';
            jsonDataInput.value = JSON.stringify(formData);
            this.appendChild(jsonDataInput);
            
            // Submit the form
            //this.submit();

        }
    });




</script>
{% endblock %}