{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/module.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/module.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}   
            <a class="nav-item nav-link path" href="/teacher">Home</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}" >{{ teacher_class.class_name }}</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}/modules/">Modules</a>
            <a class="nav-item nav-link path activePath" href="/teacher/class/{{teacher_class.id}}/module/{{module.id}}/createPage">Create Page</a>
{% endblock %}

{% block content %}
<div class="container">
    <!-- content header -->
    <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">            
            <h3>Module Name: {{module.name}}</h3>
        </div>

        <div class="ms-auto p-2 bd-highlight">
            <a class="btn btn-secondary col-auto" href="{% url 'createAlgorithm' teacher_class.id module.id %}">
                Create Algorithm
            </a>
        </div>
    </div>

    <hr>
    
    <!-- form content-->
        <div class="form-group">
            <form method="POST" action="" class="p-3">
                {% csrf_token %}
    
                <div class="row mb-3 text-center pt-3">
                    <h3 class="pb-0 mb-0">Create Page</h3>
                </div>
                
                {{form.media}}
    
                <div class="row mb-3 justify-content-left pt-2">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-12">
                        {{form.name}}
                    </div>
                </div>
                <div class="row mb-3 justify-content-left">
                    <label class="col-sm-2 col-form-label">Content</label>
                    <div class="col-12">
                        {{form.content}}
                    </div>
                </div>                
    
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="submitButton">Create Page</button>
                </div>
    
                <div class="row mb-3 justify-content-center">
                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                <p class="errors">
                                    {% for error in field.errors %}
                                        <p class="text-danger text-center pb-0 mb-0">{{error}}</p>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
    
            </form>    
        </div>


</div>
{% endblock %}



{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    // hljs.highlightAll();
        // Define the function to check if the element exists
        function checkElementExists() {
        var mismatchElement = document.getElementById('mismatch');
        return mismatchElement !== null;
    }

    // Add event listener for the form submit event
    document.getElementById('algorithmForm').addEventListener('submit', function(event) {
        // Check if the element with id 'mismatch' exists
        if (checkElementExists()) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Perform additional actions if needed
            alert('The algorithm and answer keys files have mismatch lines');
        }
        else {
            event.preventDefault(); // Prevent default form submission
        
            var table = document.getElementById('algorithmTable');
            var formData = [];
            
            // Loop through table rows
            for (var i = 1; i < table.rows.length; i++) { // Start from index 1 to skip header row
                var row = table.rows[i];
                var rowData = {};
                // rowData.name = row.cells[0].innerText;
                rowData.code = row.cells[1].innerText;
                rowData.answer = row.cells[2].innerText;
                rowData.hint = row.cells[3].innerText;
                formData.push(rowData);
            }
            
            // Create hidden input field to store JSON data
            var jsonDataInput = document.createElement('input');
            jsonDataInput.type = 'hidden';
            jsonDataInput.name = 'table_data';
            jsonDataInput.value = JSON.stringify(formData);
            this.appendChild(jsonDataInput);
            
            // Submit the form
            //this.submit();

        }
    });




</script>
{% endblock %}