{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <!-- <link rel="stylesheet" type="text/css" href="{% static '/css/module.css'%}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<style>
    #code-status {
        width: 40px;
    }


    input.form-control {
        margin: 0;
    }

    pre {
        margin:0;
        padding:0;
    }

    #algorithmTable {
        font-family: monospace;
        background-color:none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    th {
        background-color: #bde50b;
        border:1px solid black;
    }

    #algorithmTable td, tr, th {
        border:1px solid black;
    }
    input {
        border-radius: unset;
        padding:4px;
    }
    input:focus {
        background-color: yellow;
        border-radius: 0%;
    }
    td.tnumber {
        text-align: center;
    } 

    .validLine {
        background-color: green;
    }

    .invalidLine {
        background-color: red;
    }


</style>
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/module.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}   
            <a class="nav-item nav-link path" href="/teacher">Home</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}" >{{ teacher_class.class_name }}</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}/modules/">Modules</a>
            <a class="nav-item nav-link path activePath" href="/teacher/class/{{teacher_class.id}}/module/{{module.id}}/createAlgorithm">Create Algorithm</a>
{% endblock %}

{% block content %}
<!-- information header -->
<div class="d-flex bd-highlight mb-0">
    <div class="p-2 bd-highlight">
        <h3>Module Name: {{module.name}}</h3>
    </div>

    <div class="ms-auto p-2 bd-highlight">
        <a class="btn btn-secondary col-auto" href="{% url 'createPage' teacher_class.id module.id %}">
            Create Page
        </a>
    </div>
</div>
<div class="d-flex justify-content-center">
    <h5>Create Algorithm</h5>
</div>

<!--  file upload form for  algorithm and answer key -->
<div class="row mt-3">
    <form method="POST" action="" enctype="multipart/form-data" class="bg-transparent border border-light">
        {% csrf_token %}

        <div class="mb-3">
            <label for="formFileLg" class="form-label">Select algorithm file</label>
            <input class="form-control form-control-lg" type="file" id="algorithmUpload" name="algorithmUpload">
        </div>
        <div>
            <label for="formFileLg" class="form-label">Select Answer file</label>
            <input class="form-control form-control-lg" type="file" id="answerkeyUpload" name="answerkeyUpload">
        </div>

        <input type="hidden" name="fileUploadForm">

        <div class="text-center mt-4 mb-2">
            <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>
        </div>

    </form>
</div>

<!-- row for displaying the content of the uploaded algorithm/answer-->
<div class="row border-bottom p-2 mb-4">
    {% if algorithm_file_lines %}
    <div class="col">
        <h3>Algorithm: {{algorithm_line_count}} line(s)</h3>
        {% for line in algorithm_file_lines|remove_newlines %}
        <pre><code class="language-java">{{ line }}</code></pre>
        {% endfor %}
    </div>
    <div class="col">
        <h3>Answer Key: {{answerkey_line_count}} line(s)</h3>
        {% for line in answerkey_file_lines %}
            <pre><code>{{ line.decode }}</code></pre>
        {% endfor %} 
    </div>    
    {% endif %} 
</div>

<!-- first validation row row to display the algorithm, answer, hints side by side and submit -->
<div class="row">
    {% if algorithm_line_count != answerkey_line_count %}
    <p>Line Requirement: <span class="text-success"><img id="code-status" src="/static/images/Failure.png" alt=""></span></p>
    <p class="bg-dark text-danger ">
        NB:
        the algorithm content lines does not match the answer key content lines
        Please check the files and reupload.
    </p>
    
    <br>

    {% else %}
    <p>Line Requirement: <span class="text-success"><img id="code-status" src="/static/images/Success.png" class="img-thumbnail" alt=""></span></p>

    {% endif %}

</div>

<!-- submission form -->
{% if algorithm_file_lines and algorithm_line_count == answerkey_line_count %}
<form id="algorithmForm" action="" method="POST" class="mb-4 p-2">
    {% csrf_token %}

    <input type="text" id="algorithmNameInput" value="" placeholder="Enter Algorithm Name..."">

    <table id="algorithmTable" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <col style="width: 2%">
            <col style="width: auto;">
            <col style="width: auto;">
            <col style="width: auto;">
            
        
            <tr>
                <th id="tableNumber">No</th>
                <th id="tableCode">Code</th>
                <th id="tableAnswer">Answer</th>
                <th id="tableHint">Hint</th>
            </tr>
        
            {% for code, answer in algorithm_file_lines|zip:answerkey_file_lines %}
        
            {% if code|strip_length == 0 and answer.decode|strip_length == 0 %}
            <tr class="validLine">
                <td class="tnumber">{{ forloop.counter }}</td>
                <td>
                    <input class="lineCode" type="text" value="{{code}}" style="width:100%; height:100%;">
                </td>
                <td>
                    <input class="lineAnswer" type="text" value="{{answer.decode}}" style="width:100%; height:100%;">
                </td>
                <td>
                    <input type="text" value="Hint" style="width:100%; height:100%;">
                </td>
            </tr>
            
            {% elif code|strip_length != 0 and answer.decode|strip_length != 0 %}
            <tr class="validLine">
                <td class="tnumber">{{ forloop.counter }}</td>
                <td>
                    <input class="lineCode" type="text" value="{{code}}" style="width:100%; height:100%;">
                </td>
                <td>
                    <input class="lineAnswer" type="text" value="{{answer.decode}}" style="width:100%; height:100%;">
                </td>
                <td>
                    <input type="text" value="Hint" style="width:100%; height:100%;">
                </td>
            </tr>
        
            {% elif code|strip_length == 0 and answer.decode|strip_length != 0 %}
            <tr class="invalidLine">
                <td class="tnumber">{{ forloop.counter }}</td>
                <td>
                    <!-- Empty Code -->
                    <input class="lineCode" type="text" value="" style="width:100%; height:100%;">
                </td>
                <td>
                    <input class="lineAnswer" type="text" value="{{answer.decode}}" style="width:100%; height:100%;">
                </td>
                <td>
                    <input type="text" value="Hint" style="width:100%; height:100%;">
                </td>
            </tr>
        
        
        
            {% elif code|strip_length != 0 and answer.decode|strip_length == 0 %}
            <tr class="invalidLine">
                <td class="tnumber">{{ forloop.counter }}</td>
                <td>
                    <input class="lineCode" type="text" value="{{code}}" style="width:100%; height:100%;">
                </td>
                <td>
                    <!-- Empty Answer -->
                    <input class="lineAnswer" type="text" value="" style="width:100%; height:100%;" class="has-error">
                </td>
                <td>
                    <input type="text" value="Hint" style="width:100%; height:100%;">
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        
        </tbody>
    </table>

    <input type="hidden" name="submitAlgorithmForm">

    {% if invalidCodeLine == True %}
        <p id="invalidLineMessage" class="text-danger">Please fix invalid lines.</p>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary" id="submitAlgorithmButton" disabled="true" onclick="parseTable()">Submit</button>
        </div>
    {% else %}
    <p id="invalidLineMessage" class="text-success">All lines are now valid.</p>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary" id="submitAlgorithmButton" onclick="parseTable()">Submit</button>
        </div>
    {% endif %}
</form>
{% endif %}

<script>

    // Function to parse table and append to JSON
    function parseTable() {

        // Get the form element
        var form = document.getElementById('algorithmForm');

        // Create input fields for table data
        var table = document.getElementById('algorithmTable');
        var formData = [];

        // Loop through table rows
        for (var i = 1; i < table.rows.length; i++) { // Start from index 1 to skip header row
            var row = table.rows[i];

            if (row.classList.contains("invalidLine")) {
                // alert("This row has an invalid line");
            }

            var rowData = {};

            // Get input values from each row
            rowData.code = row.cells[1].getElementsByTagName('input')[0].value;
            rowData.answer = row.cells[2].getElementsByTagName('input')[0].value;
            rowData.hint = row.cells[3].getElementsByTagName('input')[0].value;

            // Add row data to form data
            formData.push(rowData);
        }

        // Create hidden input field to store JSON data
        var jsonDataInput = document.createElement('input');
        jsonDataInput.type = 'hidden';
        jsonDataInput.name = 'table_data';
        jsonDataInput.value = JSON.stringify(formData);

        // Append hidden input field to the form
        form.appendChild(jsonDataInput);

        var algorithmName = document.createElement('input');
        algorithmName.type = 'hidden';
        algorithmName.name = 'algorithm_name';
        algorithmName.value = document.getElementById("algorithmNameInput").value;
        form.appendChild(algorithmName);

        // Submit the form
        // form.submit();

    }





    // Add event listeners to inputs in the table rows
    var inputs = document.querySelectorAll('#algorithmTable input');

    inputs.forEach(input => {
        input.addEventListener("input", validateLine); // Add event listener for input event

    });

    function validateLine() {
        // Get the parent row of the input
        var row = this.closest('tr');

        // Check if both inputs in the row are empty
        var codeInput = row.querySelector('.lineCode');
        var answerInput = row.querySelector('.lineAnswer');

        var submitAlgorithmButton = document.getElementById("submitAlgorithmButton");

        // If either input is empty, change the row color to red, otherwise revert to default
        if (codeInput.value.trim().length === 0 && answerInput.value.trim().length !== 0) {
            // row.style.backgroundColor = 'red';
            row.classList.remove("validLine");
            row.classList.add("invalidLine");
            submitAlgorithmButton.disabled = true;
            document.getElementById("invalidLineMessage").innerHTML = "Please fix invalid lines.";
            row.classList.add("text-danger");
            console.log("Changing to red1");
        } else if (codeInput.value.trim().length !== 0 && answerInput.value.trim().length === 0) {
            // row.style.backgroundColor = 'red';
            row.classList.remove("validLine");
            row.classList.add("invalidLine");
            submitAlgorithmButton.disabled = true;
            document.getElementById("invalidLineMessage").innerHTML = "Please fix invalid lines.";
            row.classList.add("text-danger");
            console.log("Changing to red2");
        } else {
            // row.style.backgroundColor = 'green'; // Revert to default color
            row.classList.remove("invalidLine");
            row.classList.add("validLine");
            console.log("Changing to green");
        }

        var table = document.getElementById('algorithmTable');
        var tableStatus = "valid";
        for (var i = 1; i < table.rows.length; i++) {
            var row = table.rows[i];
            if (row.classList.contains("invalidLine")) {
                tableStatus = "invalid";
                document.getElementById("invalidLineMessage").innerHTML = "Please fix invalid lines.";
                row.classList.add("text-danger");
            }
        }

        if (tableStatus === "valid") {
            submitAlgorithmButton.disabled = false;
            document.getElementById("invalidLineMessage").innerHTML = "All lines are now valid.";
            row.classList.add("text-success");
        }

    }

</script>

{% endblock %}

{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
        // Define the function to check if the element exists
        function checkElementExists() {
        var mismatchElement = document.getElementById('mismatch');
        return mismatchElement !== null;
    }

</script>
{% endblock %}