{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/module.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/module.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}   
            <a class="nav-item nav-link path" href="/teacher">Home</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}" >{{ teacher_class.class_name }}</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}/modules/">Modules</a>
            <a class="nav-item nav-link path activePath" href="/teacher/class/{{teacher_class.id}}/module/{{module.id}}/createPage">Create Page</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex bd-highlight mb-0">

        <div class="p-2 bd-highlight">            
            <h3>Module Name: {{module.name}}</h3>
        </div>

        <div class="ms-auto p-2 bd-highlight">
            <a class="btn btn-secondary col-auto" href="{% url 'createAlgorithm' teacher_class.id module.id %}">
                Create Algorithm
            </a>
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <h5>Create Page</h5>
    </div>
</div>
{% endblock %}



{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    // hljs.highlightAll();
        // Define the function to check if the element exists
        function checkElementExists() {
        var mismatchElement = document.getElementById('mismatch');
        return mismatchElement !== null;
    }

    // Add event listener for the form submit event
    document.getElementById('algorithmForm').addEventListener('submit', function(event) {
        // Check if the element with id 'mismatch' exists
        if (checkElementExists()) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Perform additional actions if needed
            alert('The algorithm and answer keys files have mismatch lines');
        }
        else {
            event.preventDefault(); // Prevent default form submission
        
            var table = document.getElementById('algorithmTable');
            var formData = [];
            
            // Loop through table rows
            for (var i = 1; i < table.rows.length; i++) { // Start from index 1 to skip header row
                var row = table.rows[i];
                var rowData = {};
                // rowData.name = row.cells[0].innerText;
                rowData.code = row.cells[1].innerText;
                rowData.answer = row.cells[2].innerText;
                rowData.hint = row.cells[3].innerText;
                formData.push(rowData);
            }
            
            // Create hidden input field to store JSON data
            var jsonDataInput = document.createElement('input');
            jsonDataInput.type = 'hidden';
            jsonDataInput.name = 'table_data';
            jsonDataInput.value = JSON.stringify(formData);
            this.appendChild(jsonDataInput);
            
            // Submit the form
            //this.submit();

        }
    });




</script>
{% endblock %}