{% extends 'base.html' %}
{% load static %}

{% block css %}    
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}
    <a class="nav-item nav-link path" href="/teacher">Home</a>
    <a class="nav-item nav-link path" href="/teacher/profile">Profile</a>
    <a class="nav-item nav-link path activePath" href="/teacher/profile/deleteTeacherAccount">Delete Account</a>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-danger text-white">Delete Account</div>
    <div class="card-body bg-warning text-dark">
        <h5 class="card-title">Warning</h5>
        <p class="card-text">Are you sure you want to delete your account</p>
        <form class="bg-transparent" method="POST" action="">
            {% csrf_token %}

            <a href="{% url 'profile' %}"  class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
    </div>
</div>

{% endblock %}
