{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/deleteClass.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/teacher_sidebar.css'%}">
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/deleteClass.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block content %}
    <!-- Div for main content of page -->
    <div id="mainContent">

        <h1>Are you sure you want to delete your class, {{teacher_class.class_name}}?</h1>
        <h3>CAUTION: Proceeding will delete your class and all related data.</h3>
        <h3>The action is IRREVERSIBLE.</h3>

        <form method="POST" action="{% url 'deleteClass' teacher_class.id %}">
            {% csrf_token %}

            <a href="{% url 'teacherClass' teacher_class.id %}">Cancel</a>
            <input type="submit" name="Confirm">

        </form>
    </div>

{% endblock %}
