{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/module.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/module.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}   
            <a class="nav-item nav-link path" href="/teacher">Home</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}" >{{ teacher_class.class_name }}</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}/modules" >Modules</a>
            <a class="nav-item nav-link path activePath"href="/teacher/class/{{teacher_class.id}}/module/{{module.id}}">{{module.name}}</a>
{% endblock %}

{% block content %}
<div class="container ">

    <div class="row">

        <div class="row">
            <div class="col">
                {{module.name}}
            </div>

            <div class="col-2">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid bg-transparent">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown pb-0">
                                    <a class="nav-link dropdown-toggle border" style="padding:10px;" href="#"
                                        id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Create
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="">Lesson</a></li>
                                        <li><a class="dropdown-item" href="">Algorithm</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col border bg-light">
                <!-- begin accordion-->
                <div class="accordion" id="accordionExample">
                    {% for module in modules %}
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{module.id}}" aria-expanded="true" aria-controls="collapse{{module.id}}">
                            {{module.name}}
                          </button>
                        </h2>
                        <div id="collapse{{module.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          {% for item in items %}
                            {% if module.name == item.module.name %}
      
                              {% for algorithm in algorithms %}
                                {% if item.id == algorithm.item.id %}
                                  <div class="accordion-body">
                                    <a href="{% url 'studentAlgorithm' student_class.id module.id algorithm.id %}">{{algorithm.name}}</a>
                                  </div>
                                {% endif %}
                              {% endfor %}
      
                              {% for page in pages %}
                                {% if item.id == page.item.id %}
                                  <div class="accordion-body">
                                    <a href="{% url 'studentPage' student_class.id module.id page.id %}">{{page.name}}</a>
                                  </div>
                                {% endif %}
                              {% endfor %}
      
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
      
                    {% endfor %}
                  </div>
                  <!-- end accordion-->

            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    // hljs.highlightAll();
        // Define the function to check if the element exists
        function checkElementExists() {
        var mismatchElement = document.getElementById('mismatch');
        return mismatchElement !== null;
    }

    // Add event listener for the form submit event
    document.getElementById('algorithmForm').addEventListener('submit', function(event) {
        // Check if the element with id 'mismatch' exists
        if (checkElementExists()) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Perform additional actions if needed
            alert('The algorithm and answer keys files have mismatch lines');
        }
        else {
            event.preventDefault(); // Prevent default form submission
        
            var table = document.getElementById('algorithmTable');
            var formData = [];
            
            // Loop through table rows
            for (var i = 1; i < table.rows.length; i++) { // Start from index 1 to skip header row
                var row = table.rows[i];
                var rowData = {};
                // rowData.name = row.cells[0].innerText;
                rowData.code = row.cells[1].innerText;
                rowData.answer = row.cells[2].innerText;
                rowData.hint = row.cells[3].innerText;
                formData.push(rowData);
            }
            
            // Create hidden input field to store JSON data
            var jsonDataInput = document.createElement('input');
            jsonDataInput.type = 'hidden';
            jsonDataInput.name = 'table_data';
            jsonDataInput.value = JSON.stringify(formData);
            this.appendChild(jsonDataInput);
            
            // Submit the form
            //this.submit();

        }
    });
</script>
{% endblock %}