{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/module.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/module.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}   
            <a class="nav-item nav-link path" href="/teacher">Home</a>
            <a class="nav-item nav-link path" href="/teacher/class/{{teacher_class.id}}" >{{ teacher_class.class_name }}</a>
            <a class="nav-item nav-link path activePath"href="/teacher/class/{{teacher_class.id}}/module/{{module.id}}">{{module.name}}</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <!-- Button positioned to the right -->
            <div class="d-flex justify-content-between">
                <h5>{{module.name}} Module Items</h5>


                


                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Create
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="{% url 'createPage' teacher_class.id module.id %}">Lesson</a></li>
                              <li><a class="dropdown-item" href="{% url 'createAlgorithm' teacher_class.id module.id %}">Algorithm</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>






            </div>
        </div>
    </div>
</div>

<div class="row">
    {% for algorithm_name, lines in algorithm_lines_items %}
        <p><a class="moduleButton" href="{https://www.google.com}">{{algorithm_name}}</a></p>
    {% endfor %}


</div>

<div class="row">
    {% if algorithm_file_lines %}
    <div class="col">
        <h2>Algorithm Content:</h2>
        {% for line in algorithm_file_lines|remove_newlines %}
        <pre><code class="language-java">{{ line }}</code></pre>
        {% endfor %}
        <h3>Number of lines: {{algorithm_line_count}}</h3>
    </div>
    <div class="col">
        <h2>Answer Key Content:</h2>
        {% for line in answerkey_file_lines %}
            <pre><code>{{ line.decode }}</code></pre>
        {% endfor %} 
        <h3>Number of lines: {{answerkey_line_count}}</h3>
    </div>    
    {% endif %} 
</div>

    <!-- Div for main content of page -->
    <div id="mainContent">
<div class="row">
    {% if algorithm_line_count != answerkey_line_count %}
            <p style="color:red">NB: Error - Lines Mismatch</p>
            <p>the algorithm content lines does not match the answer key content lines<br>
            Please check the files and reupload.
            </p>
    {% endif %}
    
{% if algorithm_file_lines and algorithm_line_count == answerkey_line_count  %}
    <form id="algorithmForm" action="" method="POST">
        {% csrf_token %}
        <table id="algorithmTable" style="border:1px; border-color:black">
            
            <col style="width: 4%;">
            <col style="width: 50%;">
            <col style="width: 46%;">

            <tr>
                <th id="tableNumber">No</th>
                <th id="tableCode">Code</th>
                <th id="tableAnswer">Answer</th>
                <th id="tableHint">Hint</th>
            </tr>

            {% for code, answer in algorithm_file_lines|zip:answerkey_file_lines %}
            
            {% if code|strip_length == 0 and answer.decode|strip_length == 0 %}
                <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><pre><code>{{ code }}</pre</code></td>
                        <td> <pre><code>  {{ answer.decode }} </code></pre></td>
                        <td> <input type="text"> </td>
                </tr>
            
            {% elif code|strip_length != 0 and answer.decode|strip_length != 0 %}
                <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><pre><code>{{ code }}</pre</code></td>
                        <td> <pre><code>  {{ answer.decode }} </code></pre></td>
                        <td> <input type="text"> </td>
                </tr>
            
            {% elif code|strip_length == 0 and answer.decode|strip_length != 0 %}
                <tr>
                        <td>{{ forloop.counter }}</td>
                        <td style="color:red"><pre><code>empty code</pre</code></td>
                        <td> <pre><code>  {{ answer.decode }} </code></pre></td>
                        <td> <input type="text"> </td>
                        <input type="hidden" id="mismatch" value="True">
                </tr>

            {% elif code|strip_length != 0 and answer.decode|strip_length == 0 %}
                <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><pre><code>{{ code }}</pre</code></td>
                        <td style="color:red"> <pre><code>  empty answer </code></pre></td>
                        <td> <input type="text"> </td>
                        <input type="hidden" id="mismatch" value="True">
                </tr>
            {% endif %}   
            {% endfor %}
        </table>
        <input type="submit" value="AlgorithmFormSubmit">
    </form>
{% endif %}
</div>
{% endblock %}



{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    // hljs.highlightAll();
        // Define the function to check if the element exists
        function checkElementExists() {
        var mismatchElement = document.getElementById('mismatch');
        return mismatchElement !== null;
    }

    // Add event listener for the form submit event
    document.getElementById('algorithmForm').addEventListener('submit', function(event) {
        // Check if the element with id 'mismatch' exists
        if (checkElementExists()) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Perform additional actions if needed
            alert('The algorithm and answer keys files have mismatch lines');
        }
        else {
            event.preventDefault(); // Prevent default form submission
        
            var table = document.getElementById('algorithmTable');
            var formData = [];
            
            // Loop through table rows
            for (var i = 1; i < table.rows.length; i++) { // Start from index 1 to skip header row
                var row = table.rows[i];
                var rowData = {};
                // rowData.name = row.cells[0].innerText;
                rowData.code = row.cells[1].innerText;
                rowData.answer = row.cells[2].innerText;
                rowData.hint = row.cells[3].innerText;
                formData.push(rowData);
            }
            
            // Create hidden input field to store JSON data
            var jsonDataInput = document.createElement('input');
            jsonDataInput.type = 'hidden';
            jsonDataInput.name = 'table_data';
            jsonDataInput.value = JSON.stringify(formData);
            this.appendChild(jsonDataInput);
            
            // Submit the form
            //this.submit();

        }
    });




</script>
{% endblock %}