{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <!-- 
        <link rel="stylesheet" type="text/css" href="{% static '/css/teacher.css'%}">
    --> 
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/teacher.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}  
    <a class="nav-item nav-link path" href="{% url 'teacher' %}">Home</a>
    <a class="nav-item nav-link path" href="{% url 'teacherClass' class_pk %}" >{{ teacher_class.class_name }}</a>
    <a class="nav-item nav-link path "href="{% url 'modules' class_pk %}">Modules</a>
    <a class="nav-item nav-link path activePath"href="{% url 'teacherViewPage' class_pk page_pk %}"><span>P:</span> {{page.name}}</a>
{% endblock %}





{% block content %}    


<div class="d-flex bd-highlight mb-0">

    <div class="p-2 bd-highlight">
        <h3>{{page.name}}</h3>
    </div>

    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    <div class="ms-auto p-2 bd-highlight">
        <a class="btn btn-primary col-auto"" href="{% url 'updatePage' class_pk page_pk %}">
            Update Page
        </a>
        <a class="btn btn-danger col-auto" href="{% url 'deletePage' class_pk  page_pk %}">
            Delete Page
        </a>
    </div>
    
</div>

<hr>

<div class="row">
    {{page.content|safe}}
</div>

{% endblock %}
