{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/sidebar.css'%}">
{% endblock %}

{% block javascript %}    
<script src="{% static '/js/profile.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}
            <a class="nav-item nav-link path" href="/teacher">Home</a>
            <a class="nav-item nav-link path activePath" href="/teacher/profile" >Profile</a>
{% endblock %}

{% block content %}
    <div class="col">
        <h1>Profile</h1>
        <!-- Teacher Info -->
        <p>First Name: {{teacher.first_name}}</p>
        <p>Middle Name: {{teacher.middle_name}}</p>
        <p>Last Name: {{teacher.last_name}}</p>
        <p>Display Name: {{teacher.display_name}}</p>
        <p>Role: {{teacher.role}}</p>
        <p>Email: {{teacher.email}}</p>
        <p>Password: Your password is hashed.</p>
    </div>
{% endblock %}
