{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/profile.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/teacher_sidebar.css'%}">
{% endblock %}

{% block javascript %}    
<!-- <script src="{% static '/js/   .js'%}">  </script> -->
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Teacher Profile  page</h1>
{% endblock %}


