{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <!-- 
        <link rel="stylesheet" type="text/css" href="{% static '/css/teacher.css'%}">
    --> 
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/teacher.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}  
            <a class="nav-item nav-link path activePath" href="/teacher">Home</a>
{% endblock %}

{% block content %}    

    <div class="d-flex bd-highlight mb-0">
    
        <div class="p-2 bd-highlight">
            <h3>{{teacher_display_name}} Classes</h3>
        </div>
    
    
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    
        <div class="ms-auto p-2 bd-highlight">
            <a class="btn btn-primary ml-auto" href="/teacher/createClass">Create a Class</a>
        </div>
    </div>
    
    <hr> <!----------------------------------------------------------------------------------------------- -->

    <div class="row">
        <hr> <!----------------------------------------------------------------------------------------------- -->   
        {% for i in teacher_classes %}
            <div class="col-md-4 mt-3">
                <a href="{% url 'teacherClass' i.id %}" style="text-decoration: none;">
                    <div class="card classCard" style="width:250px">        
                        <img class="card-img-top" style="width:250px" src="{% static '/images/pencilBLUE3.svg'%}"  />
                        <div class="card-body">
                            <div class="card-title">{{ i.class_name  }}</div>
                        </div>
                        <div class="card-footer">{{ i.term  }}</div>
                        <div class="card-footer">{{ i.class_code  }}</div>
                    </div>

                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
