{% load static %}

  <div id="teacherSideBar">
    <ul class="navbar-nav">
        Teacher sidebar
        <li class="nav-item">
          <a class="nav-link" href="/teacher/profile">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacher/create">create a class</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacher">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
    </ul>
  </div>