{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <!-- 
        <link rel="stylesheet" type="text/css" href="{% static '/css/teacher.css'%}">
    --> 
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/teacher.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}  
            <a class="nav-item nav-link path activePath" href="/teacher">Home</a>
{% endblock %}

{% block content %}    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <!-- Button positioned to the right -->
                <div class="d-flex justify-content-between">
                    <h5>{{teacher_display_name}} Classes</h5>  
                    <a class="btn btn-primary ml-auto" href="/teacher/createClass">Create a Class</a>    
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Language</th>
                        <th>Term</th>
                        <th>Class Code</th>
                    </tr>

                    {% for i in teacher_classes %}
                    <tr>
                        <td>{{ i.class_name  }}</td>     
                        <td>{{ i.language  }}</td>
                        <td>{{ i.term  }}</td>
                        <td>{{ i.class_code  }}</td>               
                    </tr>             
                    {% endfor %}
                </table>
        </div>
    </div>

    <div class="row mt-2">
        {% for i in teacher_classes %}
            <div class="col-md-4 ">
                <a class="border" href="{% url 'teacherClass' i.id %}" style="text-decoration: none;">
                    <div class="card classCard" style="width:250px">        
                        <img class="card-img-top" style="width:250px" src="{% static '/images/pencilBLUE3.svg'%}"  />
                        <div class="card-body">
                            <div class="card-title">{{ i.class_name  }}</div>
                        </div>
                        <div class="card-footer">{{ i.term  }}</div>
                        <div class="card-footer">{{ i.class_code  }}</div>
                    </div>

                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
