{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/teacher.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/teacher_sidebar.css'%}">
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/teacher.js'%}">  </script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block content %}
    <!-- Div for sidebar of page -->
    <div id="sidebar">

    </div>
    
    <!-- Div for main content of page -->
    <div id="mainContent">

        <div id="mainHeadingDiv">

            <!-- Main heading -->
            <h1 class="myH1" id="mainHeading"></h1>

            <!-- Button to open "Create a Class" page -->
            <button" id="createClassButton" onclick="createNewClass()"><div id="createClassText">Create a Class</div><div id="plus">+</div></button>

        </div>

        <!--  Class buttons -->
        <div id="classButtonsDiv">

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencil.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/fillerArt.png'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE2.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

            <!-- Class buttons with class name and class image inside -->
            <button class="classButton" onclick="openClass()">

                <!-- Name of class -->
                <div class="className">Class Name 1</div>

                <!-- Semester (e.g. Spring 2024) specified by the instructor -->
                <div class="semester">Spring 2024</div>

                <!-- Container for the  classimage -->
                <div class="classImageContainer">

                    <!-- Example image (eventually we'll want to let the instructor upload an image) -->
                    <img id="classImage" src="{% static '/images/pencilBLUE3.svg'%}" alt="Filler Image">

                </div>

            </button>

        </div>

    </div>

{% endblock %}
