{% extends 'base.html' %}
{% load static %}

{% block css %}    
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}
    <a class="nav-item nav-link path" href="/teacher">Home</a>
    <a class="nav-item nav-link path activePath" href="/teacher/profile">Profile</a>
{% endblock %}

{% block content %}
    <div class="col">
        <h1>Profile</h1>
        <!-- Teacher Info -->
        <p>First Name: {{teacher.first_name}}</p>
        <p>Middle Name: {{teacher.middle_name}}</p>
        <p>Last Name: {{teacher.last_name}}</p>
        <p>Display Name: {{teacher.display_name}}</p>
        <p>Email: {{teacher.email}}</p>
        <p>Password: Your password is hashed.</p>
        <a class="btn btn-primary" href="{% url 'updateTeacherAccount' %}">Edit Account Info</a>
        <a class="btn btn-danger" href="{% url 'deleteTeacherAccount' %}">Delete Account</a>
    </div>
{% endblock %}
