{% extends 'base.html' %}
{% load static %}

{% block css %}    
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}
    <a class="nav-item nav-link path" href="/teacher">Home</a>
    <a class="nav-item nav-link path" href="/teacher/profile">Profile</a>
    <a class="nav-item nav-link path activePath" href="/teacher/profile/updateTeacherAccount">Update Account</a>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <!-- Update Student Account Form (use post method to prevent data being shown in url) -->
        <form id="updateStudentAccountForm" method="POST" action="" class="form-inline border col-8">
            {% csrf_token %}

            <!-- Content inside the form -->
            <div id="updateStudentAccountFormContent">
            
                <div class="row mb-3 text-center pt-3">
                    <h3 class="pb-0 mb-0">Edit Account Info</h3>
                </div>

                <div class="row mb-3 justify-content-center pt-2">
                    <label class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-5">
                        {{form.first_name}}
                    </div>
                </div>

                <div class="row mb-3 justify-content-center pt-2">
                    <label class="col-sm-3 col-form-label">Middle Name</label>
                    <div class="col-sm-5">
                        {{form.middle_name}}
                    </div>
                </div>

                <div class="row mb-3 justify-content-center pt-2">
                    <label class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-5">
                        {{form.last_name}}
                    </div>
                </div>

                <div class="row mb-3 justify-content-center pt-2">
                    <label class="col-sm-3 col-form-label">Display Name</label>
                    <div class="col-sm-5">
                        {{form.display_name}}
                    </div>
                </div>

                <div class="row mb-3 justify-content-center pt-2">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-5">
                        {{form.email}}
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-primary" id="submitButton" type="submit" value="Update Account">
                </div>

                <div class="row mb-3 justify-content-center">
                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                <p class="errors">
                                    {% for error in field.errors %}
                                        <p class="text-danger text-center pb-0 mb-0">{{error}}</p>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock %}
