{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/updateClass.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/teacher_sidebar.css'%}">
{% endblock %}

{% block javascript %}    
<script src="{% static '/js/updateClass.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block content %}
    <!-- Update a Class form (use post method to prevent data being shown in url) -->
    <form id="updateClassForm" method="POST" action="">
        {% csrf_token %}

        <!-- Content inside the form -->
        <div id="updateClassFormContent">
        
            <h1 id="updateClassHeader">Update your Class</h1>
            <h2 id="enterClassName">Edit the Class Name</h2>

            <!-- Text entry for class name -->
            {{form.class_name}}

            <h2>Edit the Class Term</h2>

            <!-- Text entry for class term -->
            {{form.term}}
            
            <h2 id="enterClassCode">Edit the Class Code</h2>
            <!-- Text entry for unique class code -->
            {{form.class_code}}

            <h2>Choose the Language</h2>
            {{form.language}}

            <!-- Next button to take the user to the next page -->
            <input class="btn login_btn" id="submitButton" type="submit" value="Update Class">

            {% if form.errors %}
					{% for field in form %}
						{% if field.errors %}
							<p class="errors">
								{% for error in field.errors %}
									{{ error }}
								{% endfor %}
							</p>
						{% endif %}
					{% endfor %}
			{% endif %}

        </div>

    </form>

    <script>
        //Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Class Name';
		form_fields[2].placeholder='Class Code';

        for (var field in form_fields) {
            form_fields[field].className += ' form-control';
			form_fields[field].className += ' textEntry';
        }
    </script>
{% endblock %}
