{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <!-- 
        <link rel="stylesheet" type="text/css" href="{% static '/css/teacher.css'%}">
    --> 
{% endblock %}

{% block javascript %}    
    <script src="{% static '/js/teacher.js'%}"></script>
{% endblock %}

{% block sidebar %}
    {% include 'teacher_sidebar.html' %}
{% endblock %}

{% block path %}  
    <a class="nav-item nav-link path" href="{% url 'teacher' %}">Home</a>
    <a class="nav-item nav-link path" href="{% url 'teacherClass' class_pk %}" >{{ teacher_class.class_name }}</a>
    <a class="nav-item nav-link path "href="{% url 'modules' class_pk %}">Modules</a>
    <a class="nav-item nav-link path "href="{% url 'teacherViewPage' class_pk page_pk %}"><span>P:</span> {{page.name}}</a>
    <a class="nav-item nav-link path activePath"href="{% url 'updatePage' class_pk page_pk %}"><span>Update Page</a>
{% endblock %}





{% block content %}    
    <!-- form content-->
    <div class="form-group">
        <form method="POST" action="" class="p-3">
            {% csrf_token %}

            <div class="row mb-3 text-center pt-3">
                <h3 class="pb-0 mb-0">Update Page</h3>
            </div>
            
            {{form.media}}

            <div class="row mb-3 justify-content-left pt-2">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-12">
                    {{form.name}}
                </div>
            </div>
            <div class="row mb-3 justify-content-left pt-2 d-none">
                <label class="col-sm-2 col-form-label">Item</label>
                <div class="col-12">
                    {{form.item}}
                </div>
            </div>


            <div class="row mb-3 justify-content-left">
                <label class="col-sm-2 col-form-label">Content</label>
                <div class="col-12">
                    {{form.content}}
                </div>
            </div>                

            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="submitButton">Update Page</button>
            </div>

            <div class="row mb-3 justify-content-center">
                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                            <p class="errors">
                                {% for error in field.errors %}
                                    <p class="text-danger text-center pb-0 mb-0">{{error}}</p>
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </form>    
    </div>


</div>
{% endblock %}
