/* Color Palette:
        * Black: #1E1F22
        * Dark Grey: #2A2D31
        * Lighter Grey: #303338
        * Text Entry Grey: #3d4147
        * Text Placeholder Grey: #686b6d
        * Light blue: #37c6ff
        * Dark Blue #1b33b6
*/

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #1E1F22;
}

#header {
    height: 5vw;
    background-color: #303338;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}

#headerContent {
    color: white;
    text-align: center;
    line-height: 0;
    padding-top: 0.4vw;
}

#bigoTitle {
    font-size: 2.8vw;
}

#O {
    color: #37c6ff;
}

#logo {
    width: 4.2vw;
    height: 4.2vw;
    margin-top: 0;
    position: absolute;
    left: 0.4vw;
    top: 0.4vw;
}

#createAccountForm {
    width: 29.5vw;
    height: 38.3vw;
    margin: auto;
    background-color: #303338;
    margin-top: 8.3vw;
}

#createAccountFormContent {
    padding-left: 1.7vw;
    padding-right: 1.7vw;
    padding-top: 0.1vw;
}

#createAccountHeader {
    color: white;
    padding-bottom: 1.6vw;
    font-size: 2.2vw;
}

#nameEntries {
    margin-top: 2vw;
}

h2 {
    color: white;
    font-size: 1.6vw;
    margin-top: 0;
    margin-bottom: 0.8vw;
}

#enterName {
    margin-bottom: 0.8vw;
}

.textEntry {
    width: 25.2vw;
    display: block;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    border: none;
    margin-bottom: 0.8vw;
    background-color: #3d4147;
    color: white;
    font-size: 1.3vw;
    border-radius: 0.8vw;
    padding-left: 0.8vw;
    font-family: inherit;
    outline: none;
}

.textEntry:focus {
    outline: 0.2vw solid #37c6ff;
}

.textEntry::placeholder {
    color: #686b6d;
    font-size: 1.3vw;
}

#nextButton {
    margin-top: 2vw;
    width: 26.2vw;
    height: 2.8vw;
    border: none;
    background-color: #37c6ff;
    color: #1b33b6;
    font-size: 1.3vw;
    font-family: inherit;
    font-weight: 600;
    border-radius: 0.8vw;
    margin-top: 0.4vw;
}

#nextButton:hover {
    cursor: pointer;
    background-color: #1b33b6;
    color: #37c6ff;
}
