/* Color Palette:
        * Black: #1E1F22
        * Dark Grey: #2A2D31
        * Lighter Grey: #303338
        * Text Entry Grey: #3d4147
        * Text Placeholder Grey: #686b6d
        * Light blue: #37c6ff
        * Dark Blue #1b33b6
*/

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #1E1F22;
}

#navbar {
    height: 5vw;
    background-color: #303338;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

#navbarContent {
    color: white;
    text-align: center;
    line-height: 0;
    padding-top: 0.4vw;
}

#bigoTitle {
    font-size: 2.8vw;
}

#O {
    color: #37c6ff;
}

#logo {
    width: 4.2vw;
    height: 4.2vw;
    margin-top: 0;
    position: absolute;
    left: 0.4vw;
    top: 0.4vw;
}

#mainContent {
    margin-left: 2.5vw;
    margin-top: 4.5vw;
    position: absolute;
    /*background-color: red;*/
}

.myH1 {
    color: white;
    font-size: 2.2vw;
}

#profileHeader {
    margin-left: 1.7vw;
}

#mainHeadingDiv {
    display: flex;
    /*background-color: red;*/
    width: 57.7vw;
}

#mainHeading {
    width: 37.8vw;
    /*background-color: orange;*/
}

#createClassButton {
    transition: 0.3s ease;
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 1.4vw;
    border: none;
    background-color: #37c6ff;
    font-family: inherit;
    right: 0;
    margin-top: 1.5vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    display: flex;
    position: absolute;
    user-select: none;
}

#createClassButton:hover {
    width: 15.4vw;
    cursor: pointer;
    background-color: #1b33b6;
    margin-right: 0;
}

#createClassButton:hover #createClassText {
    visibility: visible;
    padding-left: 0.35vw;
}

#createClassButton:hover #plus {
    color: #37c6ff;
}

#plus {
    font-size: 2.2vw;
    font-weight: 600;
    right: 0.5vw;
    margin-bottom: 0.4vw;
    position: absolute;
    color: #1b33b6;
}

#createClassText {
    transition-delay: 0.2s;
    font-size: 1.6vw;
    font-weight: 600;
    margin-left: 0.7vw;
    visibility: hidden;
    margin-right: 0.3vw;
    white-space: nowrap;
    color: #37c6ff;
}

#classButtonsDiv {
    display: grid;
    grid-template-columns: 17.4vw 17.4vw 17.4vw;
    /*background-color: red;*/
    width: min-content;
    height: min-content;
    row-gap: 2.8vw;
    column-gap: 2.8vw;
}

.classButton {
    width: 17.4vw;
    height: 17.4vw;
    background-color: #303338;
    color: white;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
    display: block;
}

.classButton:hover {
    outline: 0.2vw solid #37c6ff;
    cursor: pointer;
    background-color: #1d1f22;
}

.classImageContainer {
    background-color: white;
    height: 12.7vw;
    width: 17.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#classImage {
    height: 12.7vw;
    width: 17.4vw;
}

.className {
    font-size: 1.4vw;
    margin-top: 1vw;
    /*background-color: red;*/
}

.semester {
    font-size: 1vw;
    margin-top: 0;
    padding-top: 0;
    /*background-color: red;*/
    margin-bottom: 1vw;
}

#teacherProfileDiv {
    margin-left: 63vw;
    margin-top: 10.1vw;
    position: absolute;
    background-color: #303338;
    width: 34.5vw;
    height: 37.5vw;
}
