/* Color Palette:
        * Black: #1E1F22
        * Dark Grey: #2A2D31
        * Lighter Grey: #303338
        * Text Entry Grey: #3d4147
        * Text Placeholder Grey: #686b6d
        * Light blue: #37c6ff
        * Dark Blue #1b33b6
*/

#mainContent {
    margin-left: 12.5vw;
    margin-top: 4.5vw;
    position: absolute;
    background-color: red;
}

.myH1 {
    color: white;
    font-size: 2.2vw;
}

#mainHeadingDiv {
    display: flex;
    /*background-color: red;*/
    width: 57.7vw;
}

#mainHeading {
    width: 37.8vw;
    /*background-color: orange;*/
}
