/* Color Palette:
        * Black: #1E1F22
        * Dark Grey: #2A2D31
        * Lighter Grey: #303338
        * Text Entry Grey: #3d4147
        * Text Placeholder Grey: #686b6d
        * Light blue: #37c6ff
        * Dark Blue #1b33b6
*/

#algorithmText {
    font-family: monospace;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
border: 1px solid black;
padding: 5px;
margin: 0px;
text-align: left;
}

th {
background-color: #bde50b;
}
pre {
    margin: 0px;
}
td#tablenumber {
    color:red;
}