{% extends 'base.html' %}
{% load static %}

{% block css %}    
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}

{% block path %}
    <a class="nav-item nav-link path" href="/student">Home</a>
    <a class="nav-item nav-link path activePath" href="/student/joinclass">Join class</a>
{% endblock %}

{% block content %}
    <!-- Join a Class form (use post method to prevent data being shown in url) -->
    <form id="joinAClassForm" method="POST" action="">
        {% csrf_token %}

        <!-- Content inside the form -->
        <div id="joinAClassFormContent">
        
            <h1 id="joinAClassHeader">Join a Class</h1>
            <h2 id="enterClassCode">Enter the Class Code</h2>

            <!-- Text entry for class code -->
            {{form.class_code}}

            <br>
            <input class="btn btn-primary col-2 mt-2" id="submitButton" type="submit" value="Join Class">

            <p class="errors">
                {{ errorMessage }}
            </p>

        </div>

    </form>
{% endblock %}
