{% extends 'base.html' %}
{% load static %}

{% block css %}    
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}

{% block path %}  
    <a class="nav-item nav-link path" href="/student">Home</a>
    <a class="nav-item nav-link path" href="/student/class/{{student_class.id}}" >{{ student_class.class_name }}</a>
    <a class="nav-item nav-link path activePath"href="/student/class/{{student_class.id}}/leaveClass">Leave Class</a>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-danger text-white">
        Leave class
    </div>
    <div class="card-body bg-warning text-dark">
        <h5 class="card-title">Warning</h5>
        <p class="card-text">Are you sure you want to unenroll from your class, {{student_class.class_name}}?</p>
        <form method="POST" action="{% url 'leaveClass' student_class.id %}">
            {% csrf_token %}

            <a href="{% url 'studentClass' student_class.id %}"  class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-danger">Leave</button>
        </form>
    </div>
</div>

{% endblock %}
