{% extends 'base.html' %}
{% load static %}

{% block css %}   
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}

{% block path %}
    <a class="nav-item nav-link path" href="/student">Home</a>
    <a class="nav-item nav-link path activePath" href="/student/class/{{student_class.id}}" >{{ student_class.class_name }}</a>
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
        <!-- Button positioned to the right -->
            <div class="d-flex justify-content-between">
                <h5>{{student_display_name}} Classes</h5>  
                </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col border bg-light">

            <div class="row">   
                <table class="table">
                    <tr>
                        <th>Class Name</th>
                        <th>Language</th>
                        <th>Term</th>
                        <th>Class Code</th>
                    </tr>
                    <tr>
                        <td>{{student_class.class_name}}</td>     
                        <td>{{student_class.language}}</td>
                        <td>{{student_class.term}}</td>
                        <td>{{student_class.class_code}}</td>               
                    </tr>
                </table>
            </div>

            <div class="row justify-content-center">             
                <a class="btn btn-danger col-3" style="margin-left:10px;" href="{% url 'leaveClass' student_class.id %}">Leave Class</a>
            </div>   
        </div>

        <div class="col border bg-light">          

            <div class="accordion" id="accordionExample">
              {% for module in modules %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{module.id}}" aria-expanded="true" aria-controls="collapse{{module.id}}">
                      {{module.name}}
                    </button>
                  </h2>
                  <div id="collapse{{module.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    {% for item in items %}
                      {% if module.name == item.module.name %}

                        {% for algorithm in algorithms %}
                          {% if item.id == algorithm.item.id %}
                            <div class="accordion-body">
                              <a href="{% url 'studentAlgorithm' student_class.id module.id algorithm.id %}">{{algorithm.name}}</a>
                            </div>
                          {% endif %}
                        {% endfor %}

                        {% for page in pages %}
                          {% if item.id == page.item.id %}
                            <div class="accordion-body">
                              <a href="{% url 'studentPage' student_class.id module.id page.id %}">{{page.name}}</a>
                            </div>
                          {% endif %}
                        {% endfor %}

                      {% endif %}
                    {% endfor %}
                  </div>
                </div>

              {% endfor %}
            </div>

            <div class="row justify-content-center mb-2">  
              <a class="btn btn-primary col-4" href="/student/class/{{student_class.id }}/studentModules/">View modules</a>   
            </div>

        </div>
    </div>
</div>


{% endblock %}
