{% extends 'base.html' %}
{% load static %}

{% block css %}   
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}

{% block path %}
    <a class="nav-item nav-link path" href="/student">Home</a>
    <a class="nav-item nav-link path activePath" href="/student/class/{{student_class.id}}" >{{ student_class.class_name }}</a>
{% endblock %}

{% block content %}
<div class="container">

  <div class="d-flex bd-highlight mb-0">
        
    <div class="p-2 bd-highlight">
        <h3>{{student_display_name}} Classes</h3>
    </div>

    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

  </div>

    <div class="row mt-2">
        <div class="col border bg-light">

            <div class="row">   
                <table class="table">
                    <tr>
                        <th>Class Name</th>
                        <th>Language</th>
                        <th>Term</th>
                        <th>Class Code</th>
                    </tr>
                    <tr>
                        <td>{{student_class.class_name}}</td>     
                        <td>{{student_class.language}}</td>
                        <td>{{student_class.term}}</td>
                        <td>{{student_class.class_code}}</td>               
                    </tr>
                </table>
            </div>

            <div class="row justify-content-center">             
                <a class="btn btn-danger col-3" style="margin-left:10px;" href="{% url 'leaveClass' student_class.id %}">Leave Class</a>
            </div>   
        </div>

        <div class="col border bg-light">   

            <div class="accordion" id="accordionExample">
              {% for module in modules %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{module.id}}" aria-expanded="true" aria-controls="collapse{{module.id}}">
                      {{module.name}}
                    </button>
                  </h2>
                  <div id="collapse{{module.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    {% for item in items %}
                      {% if module.name == item.module.name %}

                        {% for algorithm in algorithms %}
                          {% if item.id == algorithm.item.id %}
                            <div class="accordion-body">
                              <a href="{% url 'studentAlgorithm' student_class.id module.id algorithm.id %}">{{algorithm.name}}</a>
                            </div>
                          {% endif %}
                        {% endfor %}

                        {% for page in pages %}
                          {% if item.id == page.item.id %}
                            <div class="accordion-body">
                              <a href="{% url 'studentPage' student_class.id module.id page.id %}">{{page.name}}</a>
                            </div>
                          {% endif %}
                        {% endfor %}

                      {% endif %}
                    {% endfor %}
                  </div>
                </div>

              {% endfor %}
            </div>

            <div class="row justify-content-center mb-2">  
              <a class="btn btn-primary col-4 mb-2 mt-3 m-2" href="/student/class/{{student_class.id }}/studentModules/">View modules</a>   

              <!-- Button to toggle visibility of all accordion items -->
              <button class="btn btn-primary col-4 mb-2 mt-3" id="toggleAccordion" aria-expanded="False">Collapse All</button>

            </div>

        </div>
    </div>
</div>

<script>
  // Add click event listener to accordion headers to toggle visibility
  var accordionHeaders = document.querySelectorAll('.accordion-header');
  accordionHeaders.forEach(function (header) {
    header.addEventListener('click', function () {
      this.parentElement.classList.toggle('active');
    });
  });


  // Expand - Collapse accordion items
  document.getElementById('toggleAccordion').addEventListener('click', function () {
    var accordionItems = document.querySelectorAll('.accordion-item');
    var button = document.getElementById('toggleAccordion');
    var expandAll = button.getAttribute('aria-expanded') === 'false';

    accordionItems.forEach(function (item) {
      var button = item.querySelector('.accordion-button');
      var collapse = item.querySelector('.accordion-collapse');

      if (expandAll) {
        collapse.classList.add('show');
        button.setAttribute('aria-expanded', 'true');
        button.classList.remove('collapsed');
      } else {
        collapse.classList.remove('show');
        button.setAttribute('aria-expanded', 'false');
        button.classList.add('collapsed');
      }
    });

    button.setAttribute('aria-expanded', expandAll ? 'true' : 'false');
    button.innerText = expandAll ? 'Collapse All' : 'Expand All';
  });
</script>

{% endblock %}
