{% extends 'base.html' %}
{% load static %}

{% block css %}    
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}

{% block path %}
    <a class="nav-item nav-link path" href="/student">Home</a>
    <a class="nav-item nav-link path activePath" href="/student/profile" >Profile</a>
{% endblock %}

{% block content %}
    <div class="col">
        <div class="d-flex bd-highlight mb-0">

            <div class="p-2 bd-highlight">
                <h3>Profile</h3>
            </div>

            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>

        <!-- Student Info -->
        <p>First Name: {{student.first_name}}</p>
        <p>Middle Name: {{student.middle_name}}</p>
        <p>Last Name: {{student.last_name}}</p>
        <p>Display Name: {{student.display_name}}</p>
        <p>Email: {{student.email}}</p>
        <p>Password: Your password is hashed.</p>
        <a class="btn btn-primary" href="{% url 'updateStudentAccount' %}">Edit Account Info</a>
        <a class="btn btn-danger" href="{% url 'deleteStudentAccount' %}">Delete Account</a>
    </div>
{% endblock %}
