{% extends 'base.html' %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" type="text/css" href="{% static '/css/student.css'%}">
{% endblock %}

{% block javascript %}    
    <!-- <script src="{% static '/js/   .js'%}">  </script> -->
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}
{% block path %}   
            <a class="nav-item nav-link path activePath" href="">Home</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h5>Classes</h5>
            <hr>
            <div class="card card-body">
            </div>
        </div>
        <div class="col bg-light">
            <h5>Module</h5>
        </div>

        
    </div>
{% endblock %}