{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}

{% block path %}   
    <a class="nav-item nav-link path" href="/student">Home</a>
    <a class="nav-item nav-link path" href="/student/class/{{student_class.id}}" >{{ student_class.class_name }}</a>
    <a class="nav-item nav-link path" href="/student/class/{{student_class.id}}/module/{{module.id}}">{{module.name}}</a>
    <a class="nav-item nav-link path activePath" href="/student/class/{{student_class.id}}/module/{{module.id}}/algorithm/{{algorithm.id}}">{{algorithm.name}}</a>
{% endblock %}

{% block content %}
<h1>{{module.name}}</h1>
<h3>{{algorithm.name}}</h3>
<form id="algorithmAnswerForm" action="" method="POST" class="p-2">
    {% csrf_token %}

    <table id="algorithmTable" class="mb-2" style="border: 1px solid black; width: 100%; background-color: white;">
        <col style="width: 50%;">
        <col style="width: 50%;">
    
        <tr>
            <th style="border: 1px solid black;">Line of Code</th>
            <th style="border: 1px solid black;">Answer</th>
        </tr>
    
        {% for line in lines %}
        <tr>
            <td style="border: 1px solid black;">
                <code class="language-python">{{line.code}}</code>
            </td>
            
            <td style="border: 1px solid black;">
                <select name="answers[]" class="w-100">
                    <option value="">Select an option...</option>
                    <option value="O(1)">O(1)</option>
                    <option value="O(log n)">O(log n)</option>
                    <option value="O(n)">O(n)</option>
                    <option value="O(n log n)">O(n log n)</option>
                    <option value="O(n^2)">O(n^2)</option>
                    <option value="O(n^3)">O(n^3)</option>
                    <option value="O(2^n)">O(2^n)</option>
                    <option value="O(n!)">O(n!)</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>

    <input type="submit" value="Submit Answers" class="btn btn-primary">

    <div class="row mt-2">
        {% for lineNum, score in scores %}
            <p>{{lineNum}}: {{score}}/1</p>
        {% endfor %}
    </div>

    <h4>Total Score: {{algorithm_score}}</h4>
</form>
{% endblock %}


{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>
{% endblock %}
