{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

    <style>
        #algorithmTable {
            font-family: monospace;
            background-color:none;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        th {
            background-color: #0e6efd;
            border:1px solid black;
            color: white;
        }

        #algorithmTable td, tr, th {
            border:1px solid black;
        }
        
        td.tnumber {
            text-align: center;
        } 

        .validLine {
            background-color: green;
        }

        .invalidLine {
            background-color: red;
        }

        pre {
            margin-bottom: 0;
        }

        td {
            padding: 5px;
        }
    </style>
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}

{% block path %}   
    <a class="nav-item nav-link path" href="/student">Home</a>
    <a class="nav-item nav-link path" href="/student/class/{{student_class.id}}" >{{ student_class.class_name }}</a>
    <a class="nav-item nav-link path" href="/student/class/{{student_class.id}}/module/{{module.id}}">{{module.name}}</a>
    <a class="nav-item nav-link path activePath" href="/student/class/{{student_class.id}}/module/{{module.id}}/algorithm/{{algorithm.id}}">{{algorithm.name}}</a>
{% endblock %}

{% block content %}
<h1>{{module.name}}</h1>
<h3>{{algorithm.name}}</h3>
<form id="algorithmAnswerForm" action="" method="POST" class="p-2">
    {% csrf_token %}

    <!-- row for displaying the content of the uploaded algorithm/answer-->
    <div class="row border-bottom p-2 mb-4">
        <div class="col">
            <h3>Algorithm:</h3>
            {% for code in codes|remove_newlines %}
                <pre><code class="language-java">{{ code }}</code></pre>
            {% endfor %}
        </div>
        <div class="col">
            <h3>Answer Key:</h3>
            {% for answer in answers %}
                <pre><code>{{ answer }}</code></pre>
            {% endfor %} 
        </div>    
    </div>

    <table id="algorithmTable" class="mb-2">
        <col style="width: 2%;">
        <col style="width: 50%;">
        <col style="width: 50%;">
    
        <tr>
            <th id="tableNumber">No</th>
            <th>Line of Code</th>
            <th>Answer</th>
        </tr>
    
        {% for code in codes %}
        <tr>
            <td class="tnumber">{{ forloop.counter }}</td>

            <td>
                <pre><code class="language-java">{{ code }}</code></pre>
            </td>
            
            <td>
                {% if code != '' %}
                    <select name="answers[]" class="w-100">
                        <option value="">Select an option...</option>
                        <option value="O(1)">O(1)</option>
                        <option value="O(log n)">O(log n)</option>
                        <option value="O(n)">O(n)</option>
                        <option value="O(n log n)">O(n log n)</option>
                        <option value="O(n^2)">O(n^2)</option>
                        <option value="O(n^3)">O(n^3)</option>
                        <option value="O(2^n)">O(2^n)</option>
                        <option value="O(n!)">O(n!)</option>
                    </select>
                {% else %}
                    <select name="answers[]" class="w-100 d-none">
                        <option value=""></option>
                    </select>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <input type="submit" value="Submit Answers" class="btn btn-primary">
</form>

<hr>

{% if lineStatus %}
    <h4>Total Score: {{algorithm_score}}</h4>

    <table id="algorithmTable" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <col style="width: 2%">
            <col style="width: 50%;">
            <col style="width: 20%;">
            <col style="width: 27%;">
            
        
            <tr>
                <th id="tableNumber">No</th>
                <th id="tableCode">Code</th>
                <th id="tableAnswer">Answer</th>
                <th id="tableHint">Hint</th>
            </tr>
        
            {% for status, code, answer, hint in results %}
                <tr>
                    {% if status %}
                        <td class="tnumber validLine">{{ forloop.counter }}</td>
                    {% else %}
                        <td class="tnumber invalidLine">{{ forloop.counter }}</td>
                    {% endif %}
                    <td>
                        <!-- <input class="lineCode" type="text" value="{{code}}" style="width:100%; height:100%;"> -->
                        <pre><code class="language-java ">{{ code }}</code></pre>
                    </td>
                    <td>
                        <!-- <input class="lineAnswer" type="text" value="{{answer}}" style="width:100%; height:100%;"> -->
                        {{answer}}
                    </td>
                    <td>
                        <!-- <input type="text" value="Hint" style="width:100%; height:100%;"> -->
                        {{hint}}
                    </td>
                </tr>
            {% endfor %}
        
        </tbody>
    </table>
{% endif %}
{% endblock %}


{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>
{% endblock %}
