{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
{% endblock %}

{% block javascript %}    
{% endblock %}

{% block sidebar %}
    {% include 'student_sidebar.html' %}
{% endblock %}

{% block path %}   
    <a class="nav-item nav-link path" href="/student">Home</a>
    <a class="nav-item nav-link path" href="/student/class/{{student_class.id}}" >{{ student_class.class_name }}</a>
    <a class="nav-item nav-link path" href="/student/class/{{student_class.id}}/module/{{module.id}}">{{module.name}}</a>
    <a class="nav-item nav-link path activePath" href="/student/class/{{student_class.id}}/module/{{module.id}}/algorithm/{{algorithm.id}}">{{algorithm.name}}</a>
{% endblock %}

{% block content %}
<h1>{{module.name}}</h1>
<h3>{{algorithm.name}}</h3>
<div class="row">
    <div class="col border">Put Answer Here...</div>
    <div class="col border">
        {% for line in lines %}
            <pre class="mb-0"><code class="language-python">{{line.code }}</code></pre>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block jsscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>
{% endblock %}
